{% load i18n %}
<?php
// Author:   {{ name }}
$page_title = '{% trans "KDE translation in <your language>" %}';
$site_root = "./";
include_once ("functions.inc");
include "header.inc";
$site_title = '{% trans "KDE in <your language>" %}';
$site_external = true;
$showedit = false;
$name="{{ name }}";
$mail="{{ mail|safe }}";
?>
<p>{% trans "If you want to book somes files, send mail to: " %}
<a href="mailto:{{ mail|safe }}">{{ name }}</a>.</p>
<div id="sommaire"><h3>{% trans "Table of contents" %}</h3>
       <ul><li>
       <a href="pofiles.php">
               <img src="../img/package.png" alt="Affectation" />
               {% trans "Translation files sorted by module" %}
               </a>
       </li><li>
               <a href="translators.php">
               <img src="../img/affectation.png" alt="Affectation" />
               {% trans "Translation files sorted by translator" %}
               </a>
       </li><li>
               <a href="stats.php">
               <img src="../img/stats.png" alt="Affectation" />
               {% trans "Translation statistics" %}
               </a>
       </li></ul></div><hr />

{% block content %}
{% endblock content %}

{% block legend %}
<div id="legend">
<h3>{% trans "Legend" %}</h3>
<ul>
   <li><strong>{% trans "Translated: " %}</strong> {% trans "Number of already translated messages" %}</li>
   <li><strong>{% trans "Untranslated: " %}</strong>{% trans "Number of untranslated messages" %}</li>
   <li><strong>{% trans "Fuzzy: "%}</strong>{% trans "Number of messages who's context of original message changed" %}</li>
   <li><strong>{% trans "To be checked" %}</strong>{% trans "Number of messages that have pology errors" %}</li>
</ul>
<h3>{% trans "Colors" %}</h3>
<ul>
   <li><strong class="translated">{% trans "file.po: " %}</strong>{% trans "Fully translated file without error" %}</li>
   <li><strong class="translated hasPologyErrors">{% trans "file.po: " %}</strong>{% trans "Fully translated file with pology errors" %}</li>
   <li><strong class="partial">{% trans "file.po: " %}</strong>{% trans "Partially translated file with potential pology errors" %}</li>
   <li><strong class="untranslated">{% trans "file.pot: " %}</strong>{% trans "Untranslated file" %}</li>
</ul>
</div>
{% endblock legend %}
 
<div id="lastUpdate">{% trans "Last update: " %}{% now "l j F Y, G:i:s" %}</div>
<?php include "footer.inc"; ?>